@import 'reset'
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap')
$size_img: 250px
  
html,body
    height: 100%

body
    background: white

header
    padding-top: 2px
    padding-bottom: 2px
    img
        width: 200px

footer
    background-color: rgb(6, 15, 7)
    color: white


img
    width: 100%
    height: auto

.fila1
    background: red
    display: grid
    grid-template-columns: $size_img auto
    grid-template-rows: auto auto
    img
        grid-column: 1
        grid-row: 1/ span 2
    p
        text-align: center

.fila2
    background: blue
    display: grid
    grid-template-columns: auto $size_img/2 $size_img/2
    grid-template-rows: auto auto
    p
        text-align: center
    .p1_f2
        grid-column: 1
    .p2_f2
        grid-row: 2

.fila3
    background: green
    display: grid
    grid-template-columns: $size_img auto
    grid-template-rows: auto auto
    p
        text-align: center
    img
        grid-column:1
    .p1_f3
        grid-column:2
        grid-row:1
    .p2_f3
        grid-column: 2
        grid-row: 2

.fila4
    background: violet
    display: grid
    align-items: center
    grid-template-columns: auto $size_img $size_img 
    grid-template-rows: auto
    p
        text-align: center

.fila5
    background: yellow
    display: grid
    grid-template-columns: $size_img auto
    grid-template-rows: auto
    img
        grid-column: 1
        grid-row: 1/ span 2
    p
        text-align: center
